<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>OAuth Web Client Home</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">OAuth Web Client</span>
</nav>

<div class="container">
	<div class="row mt-5">
		<div class="col">
		<form name="form" method="post" autocomplete="off">
		  <div class="form-group">
		    <label for="text-to-transform">Text to Uppercase</label>
		    <input type="text" class="form-control" name="text" id="text-to-transform" aria-describedby="fieldHelp" autofocus="autofocus">
		    <small id="fieldHelp" class="form-text text-muted">Enter any text to convert to uppercase.</small>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
		</div>
	</div>
</div>

</body>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</html>