<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>OAuth Web Client Home</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
	<div class="row mt-2">
		<div class="col">
		<form name="form" method="post" autocomplete="off">
		  <p>You need to login</p>
		  <button type="submit" class="btn btn-primary">Login</button>
		</form>
		</div>
	</div>
</div>

</body>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</html>