<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:fragment="header">
	<meta charset="UTF-8">

	<link rel="icon" th:href="@{/images/icon.png}" type="image/png" sizes="24x24">
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
		
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/5.6.1/css/all.min.css}" />
		
	<script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</th:block>
</head>

<body></body>
</html>